@use "../../styles/utils/breakepoints" as bp;
@use "../../styles/utils/functions" as u;
@use "../../styles/variables" as vars;

.product_styling {
  &__img_grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);

    @include bp.breakpoint(large) {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  &__logo {
  }
  &__1 {
  }
  &__2 {
  }
}
